- name: "configure desktop"
  hosts: localhost
  vars:
    local_user: "agkopyl1"
    vnc_password: "password"
    main_packages:
    - ssh
    - vim
    - xrdp
    - tigervnc-standalone-server 
    - tigervnc-viewer
    - tigervnc-xorg-extension
    - tmux
    - vlc
    - pinta
    - apt-transport-https
    - ca-certificates
    - debian-archive-keyring
    - software-properties-common
    - gnupg
    - gnupg2
    - wireguard
    - keepass2
    - openconnect
    - flameshot
    - skypeforlinux
    - telegram-desktop
    - open-vm-tools-desktop
    configs:
    - tmux_conf:
      src: "templates/tmux.j2"
      dest: ~/.tmux.conf
    - vim_conf:
      src: "templates/vimrc.j2"
      dest: ~/.vimrc
    - vnc_xstartup:
      src: "templates/tigervnc-xstartup.j2"
      dest: "~/.vnc/xstartup"
    net_ports:
    - rdp:
      proto: "tcp"
      port: "3389"
    - ssh:
      proto: "tcp"
      port: "22"         
  tasks:
  - name: "install main packages"
    apt:
      name: "{{ item }}"
      update_cache: yes
      state: present
    loop: "{{ main_packages }}"
  - name: "set up configs"
    become: no
    template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
    loop: "{{ configs }}"
  - name: "network access"
    community.general.ufw:
      rule: allow
      port: "{{ item.port }}"
      proto: "{{ item.proto }}"
    loop: "{{ net_ports }}"
  - name: "set vnc password"
    become: false
    shell: printf "{{ vnc_password }}\{{ vnc_password }}\n\n" | vncpasswd
  - block:
    - name: "configure vnc unit"
      template:
        src: "templates/tigervnc-unit.2"
        dest: "/etc/systemd/system/vncserver@.service"
    - name: "systemctl reload"
      shell: systemctl daemon-reload
    - name: "enable and start vnc"
      service:
        name: "vncserver@1.service"
        enabled: true
        state: started



