- name: "configure desktop"
  hosts: localhost
  vars:
    local_user: "userx"
    vnc_password: "password"
    main_packages:
    - ssh
    - vim
    - xrdp
    - tigervnc-standalone-server 
    - tigervnc-viewer
    - tigervnc-xorg-extension
    - tmux
    - vlc
    - pinta
    - apt-transport-https
    - ca-certificates
    - debian-archive-keyring
    - software-properties-common
    - gnupg
    - gnupg2
    - wireguard
    - keepass2
    - openconnect
    - flameshot
    - skypeforlinux
    - telegram-desktop
    - open-vm-tools-desktop
    configs:
    - tmux_conf:
      src: "templates/tmux.j2"
      dest: ~/.tmux.conf
    - vim_conf:
      src: "templates/vimrc.j2"
      dest: ~/.vimrc
    - vnc_xstartup:
      src: "templates/tigervnc-xstartup.j2"
      dest: "~/.vnc/xstartup"
    net_ports:
    - rdp:
      proto: "tcp"
      port: "3389"
    - ssh:
      proto: "tcp"
      port: "22"
    - vnc1:
      proto: "tcp"
      port: "5900"
    - vcn2:
      proto: "tcp"
      port: "5901"
    - vcn3:
      proto: "tcp"
      port: "5902"         
  tasks:
  - name: "install main packages"
    apt:
      name: "{{ item }}"
      update_cache: yes
      state: present
    loop: "{{ main_packages }}"
  - name: "vnc folder"
    become: false
    file:
      path: "/home/{{ local_user }}/.vnc"
      state: directory
  - name: "set up configs"
    become: no
    template:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
    loop: "{{ configs }}"
  - name: "network access"
    community.general.ufw:
      state: enabled
      rule: allow
      port: "{{ item.port }}"
      proto: "{{ item.proto }}"
    loop: "{{ net_ports }}"  
  - block:
    - name: "set vnc password"
      become: false
      shell: |
        echo {{ vnc_password }} >/tmp/file
        vncpasswd </tmp/file >/tmp/vncpasswd.1 2>/tmp/vncpasswd.2
    - name: "configure vnc unit"
      template:
        src: "templates/tigervnc-unit.2"
        dest: "/etc/systemd/system/vncserver@.service"
    - name: "systemctl reload"
      shell: systemctl daemon-reload
    - name: "enable and start vnc"
      service:
        name: "vncserver@1.service"
        enabled: true
        state: started



